.add-document-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.document-name-container {
    border: 1px solid #00000040;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
    padding-top: 5px;
    border-radius: var(--dialog-background-border-radius);
    border: var(--dialog-background-border);
}

.input-name {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 95%;
    margin-top: 5px;
}

.label-content {
    color: var(--dialog-text-color);
    margin-left: 10px;
    font-size: var(--dialog-content-font-size);
}

.document-tag-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    width: 99%;
    margin-left: 5px;
    border: 1px solid #00000040;
}

.tag-buttons-group {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-left: 10px;
}

.button-tag-name {
    border: 0px;
    border-radius: 10px;
    min-width: 120px;
    height: 45px;
}

.button-tag-name:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
}

.process-buttons-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.process-btn {
    border-radius: 10px;
}

.document-preview-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.image-upload-pdf {
    width: 50px;
    height: 50px;
}

.label-doc-name {
    color: var(--dialog-text-color);
    font-size: var(--dialog-content-font-size);
}