.box-one-option-label-title {
    color: var(--dialog-text-color);
    margin-left: 10px;
    font-size: var(--dialog-content-font-size);
}

.box-one-option-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    width: 99%;
    margin-left: 5px;
    border: 1px solid #00000040;
}

.box-one-option-buttons-group {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-left: 10px;
}

.box-one-option-button-option {
    border: 0px;
    border-radius: 10px;
    min-width: 120px;
    height: 45px;
}

.box-one-option-button-option:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
}