.confirm-notify-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.confirm-notify-content {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border: var(--dialog-background-border);
    border-radius: var(--dialog-background-border-radius);
    padding: 5px;
}

.confirm-notify-message {
    text-align: center;
}

.confirm-notify-message {
    font-weight: bold;
    color: var(--dialog-text-color);
    font-size: 20px;
}

.confirm-notify-button-group {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 5px;
}