.create-exam-container {
    padding: 20px;
    container-type: inline-size;
    container-name: create-exam-container;
}

.docs-exams-container {
    display: flex;
    flex-direction: column;
}

.table-cell {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
}

@container create-exam-container (max-width: 800px) {
    .table-cell {
        overflow: hidden;
        text-overflow: ellipsis; /* Adds the "..." */
        max-height: 50px;
    }
}

.table-data-icon {
    cursor: pointer;
}

.table-icon {
    width: 20px;
    height: 20px;
}

.table-icon:hover {
    opacity: 0.6;
}

.button-add-docs-small {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    color: var(--text-color) !important;
}

.label-add-docs-small {
    font-size: 15px;
    color: var(--text-color);
    cursor: pointer;
    padding-top: 8px;
}

.create-exam-add-document-container {
    display: inline-flex;
    width: fit-content;
    flex-direction: row;
    background-color: var(--primary-color);
    border: 2px solid #4f4f4f90;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
    padding: 0px 10px 0px 10px;
}