.create-exam-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f7f6;
    container-type: inline-size;
}

.create-exam-header {
    margin-bottom: 20px;
}

.docs-exams-container {
    display: flex;
    flex-direction: column;
}

.empty-docs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #777;
    font-size: 1.2em;
    padding-top: 50px;
}

.button-add-docs {
    width: 100px;  /* Adjust this value to make the image smaller or larger */
    height: 100px; /* Adjust this value to make the image smaller or larger */
    cursor: pointer;
    color: var(--primary-color) !important;
}

.button-add-docs:hover {
    opacity: 1;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
}

.table-cell {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
}

@container(max-width: 800px) {
    .table-cell {
        overflow: hidden;
        text-overflow: ellipsis; /* Adds the "..." */
        max-height: 50px;
    }
}

.table-data-icon {
    cursor: pointer;
}

.label-add-docs {
    color: var(--primary-color);
    align-content: center;
    justify-content: center;
}

.table-icon {
    width: 20px;
    height: 20px;
}

.table-icon:hover {
    opacity: 0.6;
}

.button-add-docs-small {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    color: var(--text-color) !important;
}

.label-add-docs-small {
    font-size: 15px;
    color: var(--text-color);
    cursor: pointer;
    padding-top: 8px;
}

.create-exam-add-document-container {
    width: 15%;
    min-width: 140px;
    max-width: 220px;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    border: 2px solid #4f4f4f90;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    cursor: pointer;
    gap: 10px;
    padding: 5px;
}