
.empty-table-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #777;
    font-size: 1.2em;
    padding-top: 50px;
}

.empty-table-data-label-add-docs {
    color: var(--primary-color);
    align-content: center;
    justify-content: center;
    text-align: center;
}

.empty-table-data-button-add-docs {
    width: 100px;
    height: 100px;
    cursor: pointer;
    color: var(--primary-color) !important;
}

.empty-table-data-button-add-docs:hover {
    opacity: 1;
    opacity: 0.9;
    transition: opacity 0.2s ease-in-out;
    transform: scale(1.05);
}