.header.base-label-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2c3e50;
  min-height: 60px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-label.base-label-header {
  margin-left: 20px;
  font-weight: bold;
  font-size: 36px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-right: 20px;
}

.nav-links a { 
  text-decoration: none; 
  color: white;
}