.sidebar {
  width: 15%;
  min-width: 100px;
  max-width: 250px;
  background-color: #2c3e50;
  color: white;
  border: solid 5px #2c3e5030;
  padding-top: 10px;

  /* ADD THESE */
  display: flex;
  flex-direction: column;
  align-self: stretch; /* This forces the sidebar to fill the parent's height */
  container-type: inline-size;
}

.sidebar-button {
  padding: 15px 25px;
  text-decoration: none;
  font-size: 18px;
  color: #bdc3c7;
  display: block;
  transition: 0.25s;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  width: 100%;
}

.sidebar-button.active {
  color: #f1f1f1;
  background-color: #34495e;
  border-left: 5px solid #3498db;
}