.table-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    border: 2px solid #4f4f4f90;
    border-radius: 12px;
    box-shadow: 5px #4f4f4f90;
}

.table-content-header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.table-row-data {
    width: 100%;
    display: flex;
    flex-direction: row
}

.table-content-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.table-cell {
    display: block;
    align-content: center;
    padding-left: 15px;
    border: 1px solid #4f4f4f90;
}

.header-cell {
    font-weight: bold;
    color: #0a0808;
    background-color: var(--primary-color);
    color: var(--text-color);
    min-height: 40px;
    border: 1px solid #FFFFFF90;
}

.table-data-text {
    padding-left: 15px;
    min-height: 34px;
}

.table-data-multi-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    gap: 1px;
    padding-top: 2px;
}

.table-content-icon-data {
    width: 20px;
    height: 20px;
}